/* 紅色01 */
.pq_BG_RED {
  color: #ffffff;
  border: 1px solid #a30000;
  background: #ff0000;
  &:hover {
    color: #fff9bc;
    background: #b90000; /* Old browsers */
  }
}
/* 紅色01 */
/* 粉色01 */
.pq_BG_PINK01 {
  color: #ffffff;
  border: 1px solid #e2005a;
  background: #ff0090; /* Old browsers */
  &:hover {
    color: #fff9bc;
    background: #e2005a; /* Old browsers */
  }
}
/* 粉色01 */
/* 粉色02 */
.pq_BG_PINK02 {
  color: #ffffff;
  border: 1px solid #da0061;
  background: #ff8dc0; /* Old browsers */
  color: #ffffff;
  &:hover {
    color: #fff9bc;
    background: #ff4f9e;
    /* Old browsers */
  }
}
/* 粉色02 */
/* 橘黃色01 */
.pq_BG_ORANGE01 {
  color: #ffffff;
  border: 1px solid #fe6600;
  background: #ff7200; /* Old browsers */
  &:hover {
    color: #fff9bc;
    background: #e93700; /* Old browsers */
  }
}
/* 橘黃色01 */
/* 橘黃色02 */
.pq_BG_ORANGE02 {
  color: #ffffff;
  border: 1px solid #ff8800;
  background: #ffa946; /* Old browsers */
  &:hover {
    color: #fff9bc;
    background: #ff8800; /* Old browsers */
  }
}
/* 橘黃色02 */
/* 綠色01 */
.pq_BG_GREEN {
  color: #ffffff;
  border: 1px solid #347f0b;
  background: #81b907;
  /* Old browsers */
  &:hover {
    color: #fff9bc;
    background: #347f0b;
    /* Old browsers */
  }
}
/* 綠色01 */
/* 藍色01 */
.pq_BG_BLUE01 {
  color: #ffffff;
  border: 1px solid #013c9b;
  background: #009bf9;
  /* Old browsers */
  &:hover {
    color: #fff9bc;
    background: #013796; /* Old browsers */
  }
}
/* 藍色01 */
/* 藍色02 */
.pq_BG_BLUE02 {
  color: #ffffff;
  border: 1px solid #0061b3;
  background: #4badff; /* Old browsers */
  &:hover {
    color: #fff9bc;
    background: #3a8ed5; /* Old browsers */
  }
}
/* 藍色02 */
/* 紫色01 */
.pq_BG_PURPLE01 {
  color: #ffffff;
  border: 1px solid #760b6a;
  background: #b34fa8; /* Old browsers */
  &:hover {
    color: #fff9bc;
    background: #760b6a;
    /* Old browsers */
  }
}
/* 紫色01 */
/* 紫色02 */
.pq_BG_PURPLE02 {
  color: #ffffff;
  border: 1px solid #a027fe;
  background: #cc66ff;
  /* Old browsers */
  &:hover {
    color: #fff9bc;
    background: #a027fe; /* Old browsers */
  }
}
/* 紫色02 */